<div class="admin_header col-md-12">
			<a href="/items/new"><button>Items</button></a><a href="/chemicals/new"><button>Chemicals</button></a><a href="#"><button>Literacies</button></a><a href="#"><button>GMOs</button></a><a href=""><button>Home</button></a><a href="#"><button>Logout</button></a>
</div>