<div class="admin_header">
		<h3>Welcome, <%= Admin.find(session[:admin_id]).username %>, you lovely person!</h3>
		<ul>
			<li><a href="/items/new">Items</a></li>
			<li><a href="/chemicals/new">Chemicals</a></li>
			<li><a href="#">Literacies</a></li>
			<li><a href="#">GMOs</a></li>
		</ul>
</div>