<div class="admin_header">
		<h3>Welcome, <%= Admin.find(session[:admin_id]).username %>, you lovely person!</h3>
		<ul>
			<li><a href="/items/new">Add Item</a></li>
			<li><a href="">Edit an item</a></li>
			<li><a href="#">Literacies</a></li>
			<li><a href="#">GMOs</a></li>
			<li><a href="#">Chemicals</a></li>
		</ul>
</div>