<style>
	.percentError{
		border:1px solid red;
	}
</style>
<script>

var editItem = "<input type='file' name='item[image]'><br>";

var editChemical = "<input type='file' name='chemical[image]' accept='image/*'><br>";

var addNewChemical = "<label>IUPAC name</label><input type='text' name='iupac'><br><label>Formula</label><input type='text' name='formula'><br><label>Description</label><input type='text' name='description'><br><label>LD50</label><input type='text' name='ld50'><br><label>Origin</label><input type='text' name='origin'><br><label>Image</label><input type='file' name='image'><br>";


	$(document).ready(function(){

		$('#edit-image img').click(function(){
			console.log("clicked image!");
			$('#edit-image-div').append(editItem);
		});
		$('legend img').click(function(){
			if ($(this).attr("src") === '/assets/down.png'){
				$(this).attr("src", '/assets/right.png');
				$(this).parent().parent().siblings().slideToggle(1000)
			}
			else {
				$(this).attr("src", '/assets/down.png');
				$(this).parent().parent().siblings().slideToggle(1000)
			}
		});
		$("#addNewChemical").click(function(){
			$("#adding_a_new_chemical").slideToggle(1000);
		});
		$("#category").change(function(){
			// var selectedValue = this.value;
			console.log(this.value);
			$.post(
				'/categories/selectCat',
				$(this).serialize(), 
				function(data){
					console.log(data);
				for (i=0; i<data.subcategories.length; i++)
				{
					var id = data.subcategories[i].id
					var subcategory = "<input type='checkbox' name='subcat[]' value="+id+">"+data.subcategories[i].name+"</input><br>";
					if (i==0){
						$('#subcategory').html(subcategory);
					}
					else{
					$('#subcategory').append(subcategory);
					}
				}
				}, 
				'json');
			return false;
		});
		$("#addExistingChemical").change(function(){
			$.post(
				'/chemicals/selectChem',
				$(this).serialize(),
				function(data){
					console.log(data);
					if ($("#adding_a_new_chemical").css('display')=='none'){
						$("#adding_a_new_chemical").slideToggle(1000);
					}
					$("#add_a_chemical input[name=chemicalWritten]").val(data.chemical.name);
					$("#add_a_chemical input[name=iupac]").val(data.chemical.iupac);
					$("#add_a_chemical input[name=formula]").val(data.chemical.formula);
					$("#add_a_chemical textarea[name=description]").val(data.chemical.description);
					$("#add_a_chemical input[name=ld50]").val(data.chemical.ld50);
					$("#add_a_chemical input[name=origin]").val(data.chemical.origin);
					$("#image_file").html("<img src='/assets/"+data.chemical.image+"'>");
					$("#catSelect").html(data.category[0].cat_name);
					$("#subcategory").html();
					$("#percentage").addClass("percentError");
				}, 
				'json');
			return false; 
		});

	});

</script>
	<%= render partial: '/shared/adminheader.html.erb'%>
	<%= render partial: 'shared/edititem.html.erb'%>