#literacy_sidebar{
/*	height:100%;*/
	width:29%;
/*	padding:3%;*/
	background-color:#ccccff;
	display:inline-block;
	margin:0px;
	float:left;
}
#literacy_sidebar img{
width: 90%;
}
#literacy_sidebar ul{
	list-style: none;
	text-align:left;
	margin:0 10px 10px -10px;
}
#literacy_sidebar h4, p{
	display:inline-block;
	margin:0;
}
.all_items_pic{
	height:130px;
	width:130px;
	border:1px solid black;
	display:inline-block;
	margin:10px;
}
#all_items_box{
	width: 72%;
	display:inline-block;
	margin:0 auto;
}
#display_box{
	width: 100%;
	display:inline-block;
	float:right;
	margin:10px 0;
}
#display_box h5{
	text-align:left;
	margin-right:10px;
}
.item_pic img{
	height:80%;
	width:80%;
	border:1px solid black;
	margin:0 auto;
	vertical-align:top;
}
.item_content{
	display:inline-block;
	vertical-align:top;
	width: 100%;
}
.item_content p{
	text-align:justify;

}
.item_content a {
	text-decoration:none;
	color:black;
}
.item_category{
	background-color:blue;
}
.column1{
	width:40%;
	display:inline-block;
/*	border:1px solid red;*/
	vertical-align:top;
}
.column1 p{
	text-align:left;
	font-style:italic;

}
.column2{
	width:59%;
	display:inline-block;
/*	background-color:grey;*/
/*	border:1px solid red;*/
	vertical-align:top;
}