// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fill {
	height:50px;
}
.display{
	height:auto;
	background-color:white;
	text-align:center;
	overflow:hidden;
}
.display img{
	width:90%;
	margin:10px;
}
.column1{
	width:30%;
	display:inline-block;
/*	border:1px solid red;*/
	vertical-align:top;
	margin:20px 10px;
}
.column1 p{
	text-align:left;
	font-style:italic;

}
.column2{
	margin:20px 20px;
	width:50%;
	display:inline-block;
/*	background-color:grey;*/
/*	border:1px solid red;*/
	vertical-align:top;
	text-align:justify;
}
.column2 a{
	color:black;
	text-decoration:none;
	line-height:20px;
}
.column2 a:hover{
	font-style:italic;
	color:#ee7600;
}
.column2 h2{
	margin: 20px 0;
}
#literacy_sidebar{
	height:auto;
	width:29%;
	background-color:#fef897;
	display:inline-block;
	vertical-align:top;
	float:left;
}
#literacy_sidebar ul{
	list-style: none;
	text-align:left;
	margin:0 10px 10px -10px;
}
#literacy_sidebar img{
	height:20%;
}
#literacy{
	margin:20px;
}

#display_box{
	display:inline-block;
	vertical-align:top;
	width:70%;
}
.back{
	height:auto;
	width:100%;
}
.back img{
	height:45px;
	width:45px;
}
.back a{
	float:left;
}
.items{
	width:80%;
	margin:0 auto;
}
#items-table{
	height:400px;
	overflow:scroll;
}