<!DOCTYPE html>
<html>
<head>
  <title>Chemophilia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>
<body>
<div id="container">
	<div id="header">
		<ul>
			<li><a href="/application/index">Home</a></li>
			<li><a href="/application/index#news">News</a></li>
			<li><a href="/#about">Mission</a></li>
			<li><a href="/items">App</a></li>
			<li class="search">
				<input type="search" name="search">
			</li>
			<li class="search">Search</li>
		</ul>
	</div>

		<%= yield %>
</div>
<div id="footer">&#169; ABIGAIL DOMMER | <a href="/admins">Admins</a> | <a href="#">Contact</a> | 
<% if session[:admin_id] %> <a href="/admins" data-method="delete">Logout</a> <% end %>
</div>
</body>
</html>

